body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(250, 190, 78);
}

.formWrapper{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34495e;
}

.box {
  max-width: 500px;
  width: 100%;
  padding: 50px 30px;
  background: #191919;
  text-align: center;
}

.box h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 30px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 280px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 360px;
  border-color: #2ecc71;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #2ecc71;
}

.delete-btn{
  width: 50px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 123, 0);
  outline: none;
  border: none;
}

.delete-btn span{
  color: white;
  font-size: 20px;
}